.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-color);
  text-align: center;
}

.login-container h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.login-container p {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}